<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_40.Zoo_Using_SQL_and_GUI.Properties.Settings.dbZooConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbZoo;Persist Security Info=True;User ID=sa;Password=FArasaT786;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>