<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_44.LINQ_SQL_STUDENT_MANAGEMENT_GUI.Properties.Settings.dbStudentManConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbStudentMan;Persist Security Info=True;User Id=sa;Password=FArasaT786;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>